# Python
__pycache__/
*.pyc

# Logs
logs/*.log

# Database cache
*.db-journal

# Export files
exports/raw/*
exports/incidents/*

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Giữ lại ngoại lệ cho datasets
!datasets/re_findings.json

*.db
*.db-shm
*.db-wal
~$*.doc
